# Importing the Neccesary Libraries for data cleaning and to read the data.

In [1]:
import pandas as pd
import numpy as np
data_path='../'

In [34]:
original_df=pd.read_csv(data_path+'Data/kaggle_income.csv', encoding='latin-1')
original_df

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,589417,1691,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,1801613,795887,18.385424,-67.203310,15520,9923,15541,238.813450
32523,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,11031227,0,18.356565,-67.180686,41933,34054,31539,313.551070
32524,7202986,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,0,33597561,18.412041,-67.213413,0,0,0,0.000000
32525,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,6476604,2717115,18.478094,-67.160453,28049,20229,33333,512.884803

In [3]:
original_df.dtypes

id              int64
State_Code      int64
State_Name     object
State_ab       object
County         object
City           object
Place          object
Type           object
Primary        object
Zip_Code        int64
Area_Code      object
ALand           int64
AWater          int64
Lat           float64
Lon           float64
Mean            int64
Median          int64
Stdev           int64
sum_w         float64
dtype: object

In [5]:
original_df.astype(dtype={'Area_Code':'int64'}).dtypes

ValueError: invalid literal for int() with base 10: 'M'

In [101]:
m=original_df[original_df["Area_Code"].str.match('M')
m

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
27547,480212908,48,Texas,TX,Anderson County,Pasadena,Elkhart,Track,Track,77502,M,2887898,0,29.677206,-95.219618,65386,64402,41735,141.325647

In [6]:
adjusted_df=original_df.drop(original_df.index[[27547]])
adjusted_df

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,589417,1691,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,1801613,795887,18.385424,-67.203310,15520,9923,15541,238.813450
32523,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,11031227,0,18.356565,-67.180686,41933,34054,31539,313.551070
32524,7202986,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,0,33597561,18.412041,-67.213413,0,0,0,0.000000
32525,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,6476604,2717115,18.478094,-67.160453,28049,20229,33333,512.884803

In [44]:
final_clean_df=adjusted_df.astype(dtype={'Area_Code': 'int64'})

In [45]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32526 entries, 0 to 32525
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          32526 non-null  int64
 1   State_Code  32526 non-null  int64
 2   State_Name  32526 non-null  object
 3   State_ab    32526 non-null  object
 4   County      32526 non-null  object
 5   City        32526 non-null  object
 6   Place       32526 non-null  object
 7   Type        32526 non-null  object
 8   Primary     32526 non-null  object
 9   Zip_Code    32526 non-null  int64
 10  Area_Code   32526 non-null  object
 11  ALand       32526 non-null  int64
 12  AWater      32526 non-null  int64
 13  Lat         32526 non-null  float64
 14  Lon         32526 non-null  float64
 15  Mean        32526 non-null  int64
 16  Median      32526 non-null  int64
 17  Stdev       32526 non-null  int64
 18  sum_w       32526 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 4.7+ MB

In [46]:
final_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32525 entries, 0 to 32525
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          32525 non-null  int64
 1   State_Code  32525 non-null  int64
 2   State_Name  32525 non-null  object
 3   State_ab    32525 non-null  object
 4   County      32525 non-null  object
 5   City        32525 non-null  object
 6   Place       32525 non-null  object
 7   Type        32525 non-null  object
 8   Primary     32525 non-null  object
 9   Zip_Code    32525 non-null  int64
 10  Area_Code   32525 non-null  int64
 11  ALand       32525 non-null  int64
 12  AWater      32525 non-null  int64
 13  Lat         32525 non-null  float64
 14  Lon         32525 non-null  float64
 15  Mean        32525 non-null  int64
 16  Median      32525 non-null  int64
 17  Stdev       32525 non-null  int64
 18  sum_w       32525 non-null  float64
dtypes: float64(3), int64(9), object(7)
memory usage: 5.0+ MB

In [49]:
final_clean_df.to_csv('../Data/Clean_Income.csv', encoding='latin-1',index=False)